pycnbi
neurodecode/glass/bgi-cnbi/app/build
neurodecode/glass/bgi-cnbi/build
neurodecode/build
neurodecode.egg-info
build
dist
obj
__pycache__
.DS_Store
.idea
*.egg-info
*.egg
*.asv
*.pyc
*.pyo
*~
*.log
*.swp
*.zip
*.rar
*.7z
*.tar
*.bz2
*.gz
*.arj
*.tmp
*.bak
*.pcl
*.hdf5
*.gdf
*.bdf
*.wpr
*.wpu
